<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
            <a href="{% url 'expense_list' %}">View Expenses</a>
        </li>
        <li>
            <a href="{% url 'create_expense' %}">Create a New Expense</a>
        </li>
        <li>
            <a href="{% url 'account_view' %}">View Accounts</a>
        </li>
        <li>
            <a href="{% url 'create_account' %}">Create an Account</a>
        </li>
        <li>
            <a href="{% url 'receipt_new' %}">Create a New Receipt</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'signup'  %}">Sign Up</a>
        </li>
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>

        {% endif %}
    </ul>
    {% block content %}
    {% endblock content %}
</body>

</html>